.thankyou
    margin-bottom: 40px 
    &-wrapper
        display: flex
        align-items: center
        flex-direction: column
    &-info
        &__click
            text-decoration: none
            color: inherit
        &__name
        &__button
            width: 145px